[data-anchor] {
    display: block;
    padding: $space-y $space-x;
    color: $anchor-color;
    font-family: $anchor-font-family;
    text-decoration: none;
    cursor: pointer;
    transition: $anchor-transition;

    &:where([data-state="active"], :hover, :active) {
        color: $anchor-color-active;
        text-decoration: none;
    }

    &:focus {
        @include _link-focus;
    }
}

@include _anchor-menu();
