[data-button~="outline"] {
    color: $button-outline-text-color;
    border-color: $button-outline-border-color;

    &:is([data-state="active"], :hover, :active) {
        background-color: $button-outline-background-active;
        color: $button-outline-text-color-active;
    }
}

/* Tertiary */
@include button(
    tertiary,
    $tertiary,
    $tertiary-text,
    $tertiary-active,
    $tertiary-text-active
);

@include button-outline(
    tertiary,
    $tertiary,
    $tertiary,
    $tertiary,
    $tertiary-text-active
);

/* Secondary */
@include button(
    secondary,
    $secondary,
    $secondary-text,
    $secondary-active,
    $secondary-text-active
);

@include button-outline(
    secondary,
    $secondary,
    $secondary,
    $secondary,
    $secondary-text-active
);

/* Primary */
@include button(
    primary,
    $primary,
    $primary-text,
    $primary-active,
    $primary-text-active
);

@include button-outline(
    primary,
    $primary,
    $primary,
    $primary,
    $primary-text-active
);

/* Success */
@include button(
    success,
    $success,
    $success-text,
    $success-active,
    $success-text-active
);

@include button-outline(
    success,
    $success,
    $success,
    $success,
    $success-text-active
);

/* Warning */
@include button(
    warning,
    $warning,
    $warning-text,
    $warning-active,
    $warning-text-active
);
@include button-outline(
    warning,
    $warning,
    $warning,
    $warning,
    $warning-text-active
);

/* Danger */
@include button(
    danger,
    $danger,
    $danger-text,
    $danger-active,
    $danger-text-active
);

@include button-outline(danger, $danger, $danger, $danger, $danger-text-active);

/* Outline */
[data-button~="outline"] {
    background-color: transparent;
}
