[data-button="link"] {
    @include _link;
    font-family: $body-font-family;

    &:is([data-state="active"], :hover, :active) {
        @include _link-active;
        background-color: transparent;
        border-color: transparent;
    }
}
