:--headings {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-variant-ligatures: $headings-ligatures;
    @if $headings-color != false {
        color: $headings-color;
    }
}

@include _heading(h1, $h1-font-size, $h1-line-height);

@include _heading(h2, $h2-font-size, $h2-line-height);

@include _heading(h3, $h3-font-size, $h3-line-height);

@include _heading(h4, $h4-font-size, $h4-line-height);

@include _heading(h5, $h5-font-size, $h5-line-height);

@include _heading(h6, $h6-font-size, $h6-line-height);

b,
strong {
    font-weight: bolder;
}

i,
em,
dfn {
    font-style: italic;
}

[title]:where(abbr, dfn) {
    text-decoration: $tooltip-text-decoration;
    text-underline-offset: $tooltip-underline-offset;
    cursor: help;
}

mark {
    background-color: $mark-background;
    color: $mark-text;
}

small,
sub,
sup,
[data-text~="small"] {
    font-size: $small-font-size;
}

sub,
sup {
    position: relative;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    display: block;
    margin: calc($leading / 2) 0;
    min-height: 0.0625rem;
    border-top: $hr-border-width $hr-border-style $hr-border-color;
}
