@font-face {
    font-family: "Atkinson Hyperlegible Pro";
    src:
        local("Atkinson Hyperlegible Pro"),
        url("/fonts/web/AtkinsonHyperPro-Regular.woff2")
            format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible Pro";
    src:
        local("Atkinson Hyperlegible Pro"),
        url("/fonts/web/AtkinsonHyperPro-Italic.woff2")
            format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible Pro";
    src:
        local("Atkinson Hyperlegible Pro"),
        url("/fonts/web/AtkinsonHyperPro-Bold.woff2")
            format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible Pro";
    src:
        local("Atkinson Hyperlegible Pro"),
        url("/fonts/web/AtkinsonHyperPro-BoldItalic.woff2")
            format("woff2");
    font-weight: 700;
    font-style: italic;
}
