[data-grid] {
    display: grid;
    column-gap: $grid-gap;
}

[data-column] {
    grid-column: 1 / -1;
}

@mixin _grid-small-screen() {
    @include grid-columns($grid-name, $grid-columns-small, small);
}

@mixin _grid-medium-screen() {
    @include grid-columns($grid-name, $grid-columns-medium, medium);
}

@mixin _grid-large-screen() {
    @include grid-columns($grid-name, $grid-columns-large, large);
}

